# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
.venv/
.env

# Django
db.sqlite3
/media/
staticfiles/

# OS/Editors
.DS_Store
Thumbs.db
.idea/
.vscode/
# Ignore test screenshots
functional_tests/screenshots/
*.png
