<!DOCTYPE html>
<html lang="en">
<head>

 <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login | Colorful Dark Gradient UI</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <!-- Favicon placeholder -->
  <link rel="icon" href="data:," />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>For testing purpose</h1>



    


</body>
</html>